<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wind Farm Layout Optimiser</title>
</head>
<body>
    <div>
        <div>Input</div>
        <label>Terrain</label>
        <input type="file">

        <label>Power Curve</label>
        <input type="file">

        <label>Wind Pattern</label>
        <input type="file">

        <label>Turbine Number</label>
        <input type="number">
    </div>
    <div>
        <div>Problem Representation</div>
        <button>Discrete</button>
        <button>Continuous</button>
    </div>
    <div>
        <div>Evaluation Function</div>
        <button>Wake Free Ratio</button>
        <button>Economical</button>
    </div>
    <div>
        <div>Wake Model</div>
        <button>Kusiak's</button>
        <button>Jenson's</button>
        <button>Larsen's</button>
    </div>
    <div>
        <div>Algorithm</div>
        <button>Genetic Algorithm</button>
        <button>Simulated Annealing</button>
    </div>

    <div>
        <input type="submit" value="Optimise">
    </div>
</body>
</html>