:root {
    background-color: #FAFAFA!important;
    color: #494848!important;
}

body {
    min-height: 100vh;
    background-color: inherit!important;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    margin: 1em 0 0 1.8em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1.8em 0em 1.8em;
}

.header-lhs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-line {
    margin: 0 1.5em;
}
.header-optimise {
    padding: 0.4em;
    white-space: nowrap!important;

}

.active-header {
    border: 1px solid transparent;
    border-radius: 0.7em;
    background: linear-gradient(#FAFAFA, #FAFAFA) padding-box, linear-gradient(to right, #0098EE, #3BEADF) border-box;
}
/* Main section */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1.8em 0em 1.8em;
    flex: 1;
    height: -webkit-fill-available;
}


/*RHS Control*/
.control {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-top: 2.4em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    min-width: fit-content;

}

.evaluation-functions {
    display: flex;
    flex-direction: row;
    margin: 1.5em 1.8em 3em 3.8em;
    gap: 2em;
}

.function-input {
    /* box-shadow: 5px 5px 20px #c2c1c1; */
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    background-color: #FAFAFA!important;
    border: 1px solid #1274d69d;
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;





}




/* Optimise Section */
.optimise {
    width: 80%;
}
.algorithms {
    display: flex;
    flex-direction: row;
    margin: 0 1.8em 0 1.8em;
}

.algorithm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
    background-color: white!important;
    box-shadow: 5px 5px 20px #c2c1c1;
    border-radius: 2em;
    max-width: 15em;
    min-width: 15em;
    height: fit-content;
    overflow-wrap: break-word;
    text-align: center;
    margin: 1.2em;
}

.algorithm div {
    margin: 0.5em 0 1.2em 0 ;

    width: 90%;
    height: 10em;

    overflow: hidden;
}

img {
    object-fit: cover;
    border-radius: 2em;
    height: 100%;
    width: 100%;
}

.active, .algorithm:hover, .input:hover {
    border: 0.3em solid transparent;
    border-radius: 2em;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0098EE, #3BEADF) border-box;
    transition: all 0.2s ease-in-out;
}

.algorithm-input {
    border: 0.01em solid #3636363e;
    margin-bottom: 1em;
    width: 70%;
    border-radius: 0.6em;
    font-size: 0.7rem;
    color: #363636;
    caret-color: #696969;
}

.algorithm-input::placeholder {
    font-size: 0.5rem;
    color: #36363697;
    position: relative;
    top: -0.8em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.algorithm-input:focus {
    outline: none;
}

.algorithm-input:cursor {
    cursor: pointer;
}

.optimise-button {
    font-family: 'Space Mono', monospace;
    color: #363636;
    font-size: 1.2em;
    border: 0.15em solid transparent;
    border-radius: 0.4em;
    padding: 0.8em 0.5em;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0098EE, #3BEADF) border-box;
    box-shadow: 5px 5px 5px #c2c1c1;
    margin-left: 20%;
    margin: 2em 0 2em 20%;
}

/* Real-time progress */
.monitor {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid #ddd;
    border-radius: 2em;
    font-family: 'Space Mono', monospace;
    z-index: 2;
    transition: opacity 0.5s ease-in-out; /* Add this line to set the transition duration and easing function */
}

.monitor-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

#chart {
    flex-grow: 1;
    margin-top: 3em;
}

.energy {
    margin-left: 3.5em;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    color: #079600;
}

.stop-button {
    font-family: 'Space Mono', monospace;
    color: #363636;
    font-size: 1.2em;
    border: 0.15em solid transparent;
    border-radius: 0.4em;
    padding: 0.5em 0.8em;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #B80000, #EA8F3B) border-box;
    box-shadow: 5px 5px 5px #c2c1c1;
    width: fit-content;
    margin-top: 3em;
}

.complete-button {
    font-family: 'Space Mono', monospace;
    color: #363636;
    font-size: 1.2em;
    border: 0.15em solid transparent;
    border-radius: 0.4em;
    padding: 0.5em 0.8em;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00B53D, #76FFAD) border-box;
    box-shadow: 5px 5px 5px #c2c1c1;
    width: fit-content;
    margin-top: 3em;
}

.destroy {
    display: none;
}

span#update {
    color:#4e79a3
}

/* Add the blur effect */
.blur::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.hide {
    opacity: 0; /* Change from 'display: none' to 'opacity: 0' for smooth transition */
    pointer-events: none; /* Add this line to disable user interactions with the hidden element */
}

.visualise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
    background-color: white!important;
    box-shadow: 5px 5px 20px #c2c1c1;
    border-radius: 2em;
    max-width: 30em;
    min-width: 20em;
    height: fit-content;
    overflow-wrap: break-word;
    text-align: center;
    margin: 1.2em;
    border: 0.3em solid transparent;
    border-radius: 2em;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0098EE, #3BEADF) border-box;
    transition: all 0.2s ease-in-out;
    padding: 0.3em;
    margin-bottom: 4.4em;
}


.visualise div {
    margin: 0.5em 0 0.2em 0 ;
    width: 90%;
    overflow: hidden;
}

.visualise img {
    object-fit: cover;
    border-radius: 2em;
    height: 100%;
    width: 100%;
}

.redirect {
    display: flex;
    justify-content: center;
  }
/*manipulate children*/
.redirect > * {
    font-size: 1.5rem;
    margin-left: 1em;
    margin-top: 0.5em;
  }

.report {
    font-family: 'Space Mono', monospace;
    color: #363636;
    font-size: 1.2em;
    border: 0.15em solid transparent;
    border-radius: 0.4em;
    padding: 0.8em 0.5em;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00B53D, #76FFAD) border-box;
    box-shadow: 5px 5px 5px #c2c1c1;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 1em;
}
.report span {
    margin-right: 0.5em;
}

a {
    text-decoration: none !important;
    color: #363636 !important;
}
.result {
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    color: #0076B8;
}
.footer {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 5em;
    margin-bottom: 0.5em;
    white-space: nowrap;
    position: relative;
    left: 40%;
    /**/
}

.footer > * {
    align-self: center;
    margin-left: 0.5em;
}

.main-visualise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 60%;
    margin-left: 2em;
}

.environment {
    opacity: 0;
    z-index: -1;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
    background-color: white!important;
    box-shadow: 5px 5px 20px #c2c1c1;
    border-radius: 2em;
    max-width: 15em;
    min-width: 15em;
    height: fit-content;
    overflow-wrap: break-word;
    text-align: center;
    margin: 1.2em;
    margin-left: 1.8em;

}
.input div {
    margin: 0.5em 0 1.2em 0 ;

    width: 90%;
    height: 10em;

    overflow: hidden;
}

label {
    width: fit-content;
    cursor: pointer;
    align-self: center;!important;
}

.input > svg {
    align-self: center;!important;
    cursor: pointer;
}

.activeInput {
    border: 0.3em solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #079600, #02ff1e) border-box;
    transition: all 0.2s ease-in-out;

}
